section {
	width: 380px;
	border: 1px solid lightgray;
	display: flex;
	justify-content: center;
}

form {
	border: 1px solid gray;
	display: flex;
	flex-direction: column;
}

.two-columns{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.two-columns > * {
	flex-basis: 40%;
}

label,
input {
	display: block;
}

input {
	width: 100%;
	border-radius: 5px;
	border: 1px solid gray;
	padding: 5px;
	margin-top: 10px;
}

button {
	width: 100%;
}